system/system/app/Music/Music.apk
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/apex/com.android.vndk.current.apex
system/system/data-app/MiShop/MiShop.apk
vendor/lib64/camera/components/com.qti.node.mialgocontrol.so
